/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
*, *:before, *:after{
	box-sizing: border-box;
    font-family: Castoro;   
}
body{
    line-height: 1.5;
}
.wrap{
    margin: 0 auto;
}
.name{
    font-family: Castoro;
    width: 370px; 
    margin-right: auto ;
    font-size: 128px;
    font-weight: 400;
    letter-spacing: 15px;
}
.photo{
    text-align: center;
}
.resume{
    font-family: Castoro; 
    margin-left: auto ;
    width: 622px;
    font-size: 128px;
    font-weight: 400;
    letter-spacing: 15px;
}
.content{
    background-color: #EFEFEF;
    padding: 48px 0;
}
.summary{
    width: 636px;
    margin-left: auto;
    font-size: 32px;
    text-align: left;
}
.cv{
    width: 636px;
}
.title{
    border-bottom: 3px solid #AE0000;
    color: #AE0000;
    width: 636px;
    font-size: 40px;
    margin-bottom: 16px;
    }
.text a{
    text-decoration: none;
    display: inline-block;
    color: #000000;
}
.text a:hover{
    text-decoration: underline;
    color: blue;
}
.cv li{
    color: #000000;
    font-size: 24px;
    margin-bottom: 16px;
}
.cv .years{
    color: #949494;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 0;
}
.cv ul{
    margin: 16px 0px 40px 0px;
}
.footer{
    background-color: #000000;
    margin-top: 144px;
    padding: 64px 0px;
}
.footer ul li{
    display: inline;   
}
.footer ul{
    text-align: center;
    
}
.ins{
    margin: 0px 40px;
}